html{
  font-size: 62.5%;
}

.body{
  width: 100%;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.link-animated{
  transition: all 0.4s ease;
  &:active {
    opacity: 0.5;
  }
}

