$slide-width-desktop: 81rem;
$slide-height-desktop: 18.5rem;
$slider--persons-width-desktop: 56rem;
$slide--persons-height-desktop: 18rem;

$slide--persons-size--primary: 12rem;
$slide--persons-size--secondary: $slide--persons-size--primary - 2rem;
$slide--persons-size--third: $slide--persons-size--secondary - 2rem;
$slide--persons-size--aside: $slide--persons-size--third - 2rem;

$slide--persons-offset--primary: $slide--persons-size--secondary + 2rem + $slide--persons-size--third + 2rem;
$slide--persons-offset--secondary: $slide--persons-size--third + 2rem;
$slide--persons-offset--third: 0;
$slide--persons-offset--aside: -$slide--persons-size--aside -2rem;

$slide--persons-left--next: 2*($slide--persons-size--secondary+$slide--persons-size--third) + $slide--persons-size--primary + 4*2rem;

$c-fg: #f5f5f5;
$c-bg: #ffffff;

$f-base-lh: 1.54;