//Цвета

$c-primary: #ffffff;
$c-primary-dark-bg: #f5f5f5;
$c-primary-dark-font: #c1bbbb;
$c-secondary: #000000;
$c-secondary-light: #717070;
$c-accent: #ff005c;
$c-hit: #7ca5d9;
$c-not-accent: #706f6f;

//Типографика

$f-primary-light: FuturaPTLight, sans-serif;


$f-base-lh: 1.54;