- var title = 'Слайдер отзывов'

doctype html

html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title #{title}
        link(href="css/main.min.css", rel="stylesheet", type="text/css")

    body
        template.m-slider-template
            include slider
        template.m-slide-template
            include slide
        script(src="js/slider.js")