if initial
    .r-slide.r-slide--initial-active
        .r-slide--inner
else if second
    .r-slide.r-slide--next
        .r-slide--inner
else if third
    .r-slide.r-slide--third
        .r-slide--inner
else
    .r-slide
        .r-slide--inner
