if initial
    .m-slide.m-slide--initial-active
        .m-slide--inner
else if second
    .m-slide.m-slide--next
        .m-slide--inner
else if third
    .m-slide.m-slide--third
        .m-slide--inner
else
    .m-slide
        .m-slide--inner
