.r-slider{
  width: $slide-width-desktop + 1rem;
  position: relative;
  margin: 20rem auto 0;
  border: 4px solid black;
}

.r-slider--inner{
  box-sizing: content-box;
  position: relative;
  width: $slide-width-desktop;
  height: $slide-height-desktop;
  overflow: hidden;
}

.r-slider--inner--persons{
  @extend .r-slider--inner;
  width:$slider--persons-width-desktop;
  height: $slide--persons-height-desktop;
  margin: 0 auto 1rem;
}