.m-slider{
  width: $slide-width-desktop;
  position: relative;
  margin: 20rem auto 0;
}

.m-slider--inner{
  box-sizing: content-box;
  position: relative;
  width: $slide-width-desktop;
  height: $slide-height-desktop;
  border: 4px solid black;
  overflow: hidden;
}