.r-slide{
  position: absolute;
  top: 0;
  display: inline-block;
  width: $slide-width-desktop;
  height: $slide-height-desktop;
  padding: 2rem;
  background: $c-bg;
}

.r-slide--inner{
  background: $c-fg;
  height: 100%;
}

.r-slide--prev{
  left: -$slide-width-desktop;
  animation: disappearToLeft 0.8s;
}

.r-slide--initial-active{
  left: 0;
}

.r-slide.r-slide--active{
  @extend .r-slide--initial-active;
  animation: appearToLeft 0.8s;
}

.r-slide.r-slide--next{
  display: none;
  left: $slide-width-desktop;
}

@keyframes appearToLeft {
  0% {left: $slide-width-desktop;}
  5% {left: $slide-width-desktop*19/20;}
  10% {left: $slide-width-desktop*18/20;}
  15% {left: $slide-width-desktop*17/20;}
  20% {left: $slide-width-desktop*16/20;}
  25% {left: $slide-width-desktop*15/20;}
  30% {left: $slide-width-desktop*14/20;}
  35% {left: $slide-width-desktop*13/20;}
  40% {left: $slide-width-desktop*12/20;}
  45% {left: $slide-width-desktop*11/20;}
  50% {left: $slide-width-desktop*10/20;}
  55% {left: $slide-width-desktop*9/20;}
  60% {left: $slide-width-desktop*8/20;}
  65% {left: $slide-width-desktop*7/20;}
  70% {left: $slide-width-desktop*6/20;}
  75% {left: $slide-width-desktop*5/20;}
  80% {left: $slide-width-desktop*4/20;}
  85% {left: $slide-width-desktop*3/20;}
  90% {left: $slide-width-desktop*2/20;}
  95% {left: $slide-width-desktop*1/20;}
  100% {left: 0;}
}

@keyframes disappearToLeft {
  0% {left: 0;}
  5% {left: -$slide-width-desktop*1/20;}
  10% {left: -$slide-width-desktop*2/20;}
  15% {left: -$slide-width-desktop*3/20;}
  20% {left: -$slide-width-desktop*4/20;}
  25% {left: -$slide-width-desktop*5/20;}
  30% {left: -$slide-width-desktop*6/20;}
  35% {left: -$slide-width-desktop*7/20;}
  40% {left: -$slide-width-desktop*8/20;}
  45% {left: -$slide-width-desktop*9/20;}
  50% {left: -$slide-width-desktop*10/20;}
  55% {left: -$slide-width-desktop*11/20;}
  60% {left: -$slide-width-desktop*12/20;}
  65% {left: -$slide-width-desktop*13/20;}
  70% {left: -$slide-width-desktop*14/20;}
  75% {left: -$slide-width-desktop*15/20;}
  80% {left: -$slide-width-desktop*16/20;}
  85% {left: -$slide-width-desktop*17/20;}
  90% {left: -$slide-width-desktop*18/20;}
  95% {left: -$slide-width-desktop*19/20;}
  100% {left: -$slide-width-desktop; display: none;}
}